<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
   </head>
   <body>
      <h1>Hi there! This is smart LED. Control me! </h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <a href="/off">POWEROFF</a>
      <p></p>
   
   
   <table class="table" >

  <tr>
    <th>Cell:</th>
    <th>Color</th>
  </tr>
  <tr>
    <th rowspan="6">C1</th>
    <td style="background-color:Red;"><a href="/on/c1/red">. . . . </a></td>
  </tr>
  <tr>
    <td style="background-color:green;"><a href="/on/c1/green">. . . . </a></td>
  </tr>
  <tr>
    <td style="background-color:navy;"><a href="/on/c1/blue">. . . . </a></td>
  </tr>
  <tr>
    <td style="background-color:Yellow;"><a href="/on/c1/yellow">. . . . </a></td>
  </tr><tr>
    <td style="background-color:Cyan;"><a href="/on/c1/cyan">. . . . </a></td>
    <tr>
    <td style="background-color:Purple;"><a href="/on/c1/purple">. . . . </a></td>
  </tr>
  <tr>
    <th rowspan="6">C2</th>
    <td style="background-color:Red;"><a href="/on/c2/red">. . . . </a></td>
  </tr>
  <tr>
    <td style="background-color:green;"><a href="/on/c2/green">. . . . </a></td>
  </tr>
  <tr>
    <td style="background-color:navy;"><a href="/on/c2/blue">. . . . </a></td>
  </tr>
  <tr>
    <td style="background-color:Yellow;"><a href="/on/c2/yellow">. . . . </a></td>
  </tr><tr>
    <td style="background-color:Cyan;"><a href="/on/c2/cyan">. . . . </a></td>
    <tr>
    <td style="background-color:Purple;"><a href="/on/c2/purple">. . . . </a></td>
  </tr>
</table>
   
   
   
   </body>
</html>
