<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
   </head>
   <body>
      <h1>Hi there! This is smart LED. Control me! </h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <a href="/off">POWEROFF</a>
      <p></p>
   

 
   
   
   </body>
</html>
